//添加新样式或覆盖样式
html[data-theme="dark"] .page-info .author-info a {
  color: #1d8be3;
}

html[data-theme="dark"] .page-info .categories-wrapper .category {
  font-size: 15px;
  color: #3381c0;
}

html[data-theme="dark"] .page-info .tags-wrapper .tag {
  font-size: 15px;
  line-height: 2;
  padding: 0 2px;
  color: #a164bc;
}

html[data-theme="dark"] .page-info .date-info span {
  color: #3a8a2b;
}

html[data-theme="dark"] .page-info .words-info span {
  color: #a454ae;
}

//////////////////
html[data-theme="dark"] blockquote {
  border-radius: 5px;
  background: #3b3d3d;
  border-color: #3e6b3e;
  color: #868686;
}

//md的内容目录
#toc {
  color: #2c93d4;
  min-width: 20rem;
  max-width: 23rem;
}

html[data-theme="dark"] #toc {
  background-color: rgba(50, 50, 50, 0.67);
}

html[data-theme="dark"] #toc .toc-wrapper::before {
  content: " ";
  width: 2px;
  z-index: 1;
  background-color: var(--border-color);
}

html[data-theme="dark"] #toc .toc-list .toc-item a {
  color: #8b8d8c;
}

html[data-theme="dark"] #toc .toc-list .toc-item.active a {
  color: #2c93d4;
}

#toc .toc-link.level2 {
  padding-left: 1px;
  font-size: 13px;
}

#toc .toc-link.level3 {
  padding-left: 13px;
  font-size: 13px;
}

#toc .toc-link.level4 {
  padding-left: 26px;
  font-size: 13px;
}

//代码块
div[class*="language-"] {
  position: relative;
  border-radius: 10px;
  background: rgb(50, 50, 50);
  transition: background-color var(--color-transition);
}
